.core-banking-system-options {
    margin-top: 20px;
    position: relative;

    .options-title {
        font-weight: 700;
    }

    .question-icon {
        margin-left: 4px;
    }

    .checkbox {
        input[type="checkbox"] {
            top: -3px;
        }
    }

    .fields-content {
        padding-left: 20px;
    }
}