.config-view {
    height: 100%;

    .title {
        text-align: center;
        background-color: #224979;
        color: #fff;
        padding: 4px;
        font-weight: 700;
    }

    .details-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .col-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .bg-sidebar {
        background-color: #f9f9f9;
    }
}

.config-view-trans-appear {
    opacity: 0.01;

    &.config-view-trans-appear-active {
        opacity: 1;
        transition: opacity .3s ease-in;
    }
}

.options-trans-appear {
    opacity: 0;

    &.options-trans-appear-active {
        opacity: 1;
        transition: all .3s ease-in;
    }
}


