.loading-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .loader {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        border: 8px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        border-top: 8px solid #3498db;
        border-right: 8px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}