.tcell {
    span.action {
        text-decoration: underline;
        cursor: pointer;
    }

    &.align-left {
        text-align: left;
    }

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }
}
