.xobject-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/home.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}